<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>example - als.js</title>
</head>
<body>

    <div id="el">

        <ul id="list">
            <li>
                <input v-model="form.name" @keypress.enter="add" placeholder="todo">
                <button @click="add">+</button>
            </li>
            <li v-for="item in list">
                <input v-model="item.name" @keyup="edit(item)">
                <button @click="del(item)">-</button>
                {{item.id}}
            </li>
        </ul>

    </div>

    <script src="https://vuejs.org/js/vue.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="als.js"></script>
    <script>
        // 添加ajax拦截处理器
        als(function (type, url, data) {

            // url匹配
            var m = url.match('.*/(.*)/(.*)')
            var table = m[1] // 表名
            var action = m[2] // 操作

            // 如果action为 insert, update, save, delete, select
            if (als.isAction(action)) {

                // 本地数据库 CRUD
                var rs = als.table(table)[action](data)

                // 返回结果作为ajax响应
                return {
                    code: 10000,
                    msg: 'success',
                    data: rs
                }
            }

        })

        // 开启ajax拦截
        if ('dev') {
            als.open()
        }

    </script>
    <script>
        var vue = new Vue({
            el: '#el',
            data: {
                form: {
                    name: ''
                },
                list: []
            },
            methods: {
                add: function () {
                    $.ajax({
                        type: 'post',
                        url: 'api/todo/insert',
                        data: this.form,
                        success: function (res) {
                            vue.load()
                        }
                    })
                    this.form.name=''
                },
                edit: function (item) {
                    $.ajax({
                        type: 'post',
                        url: 'api/todo/update',
                        data: item,
                        success: function (res) {
                            vue.load()
                        }
                    })
                },
                load: function () {
                    $.ajax({
                        type: 'get',
                        url: 'api/todo/select',
                        dataType: 'json',
                        success: function(res){
                            if(res && res.code == 10000){
                                vue.list = res.data
                            }
                        }
                    })
                },
                del: function (item) {
                    $.ajax({
                        type: 'post',
                        url: 'api/todo/delete',
                        data: item,
                        success: function (res) {
                            console.log(res)
                            vue.load()
                        }
                    })
                }
            },
            mounted: function () {
                this.load()
            }
        })
    </script>
</body>
</html>