<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>example - als.js</title>
</head>

<body>
    <div id="el">
        <ul id="list">
            <li>
                <input v-model="form.name" @keypress.enter="add" placeholder="todo: 添加后刷新看看">
                <button @click="add">+</button>
            </li>
            <li v-for="item in list">
                <input v-model="item.name" @keyup="edit(item)">
                <button @click="del(item)">-</button>
                {{item.id}}
            </li>
        </ul>
    </div>
    <script src="https://vuejs.org/js/vue.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="als.js"></script>
    <script>
    // 开发环境开启ajax监听
    if ('dev') {
        als.open()
    }

    // 添加监听处理器
    als('.*/(\\w+)/(\\w+)', function(type, url, data, match) {

        // url匹配
        var table = match[1] // 表名
        var action = match[2] // 操作

        // action映射
        action = {
            'add': 'insert',
            'list': 'select'
            // ...
        }[action] || action

        // 是否 insert, update, save, delete, select
        if (!als.isAction(action)) return // 否则不拦截

        // 添加一些字段
        if (action == 'insert' || action == 'save') {
            data.createTime = new Date().getTime()
            // ...
        }

        // 使用模拟数据库 增删改查分页
        var rs = als.table(table, action, data, data.pageNo, data.pageSize)

        // 拦截ajax并模拟服务器响应
        return {
            error: 0,
            msg: 'success',
            data: rs,
            total: als.table(table).select().length
        }
    })
    </script>
    <script>
    var vue = new Vue({
        el: '#el',
        data: {
            form: {
                name: ''
            },
            list: []
        },
        methods: {
            load: function() {
                $.ajax({
                    type: 'get',
                    url: 'server/todo/select',
                    data: {
                        pageNo: 1,
                        pageSize: 100
                    },
                    dataType: 'json',
                    success: function(res) {
                        if (!res.error) {
                            vue.list = res.data
                        }
                    }
                })
            },
            add: function() {
                $.ajax({
                    type: 'post',
                    url: 'server/todo/insert',
                    data: this.form,
                    success: function(res) {
                        vue.load()
                    }
                })
                this.form.name = ''
            },
            edit: function(item) {
                $.ajax({
                    type: 'post',
                    url: 'server/todo/update',
                    data: item,
                    success: function(res) {
                        vue.load()
                    }
                })
            },
            del: function(item) {
                $.ajax({
                    type: 'post',
                    url: 'server/todo/delete',
                    data: item,
                    success: function(res) {
                        vue.load()
                    }
                })
            }
        },
        mounted: function() {
            this.load()
        }
    })
    </script>
</body>

</html>